@import "tailwindcss";

.cm-editor {
  height: 100%;
}

.cm-scroller {
  overflow-x: hidden !important;
}

.cm-content {
  white-space: pre-wrap;
  /* word-break: break-word; */
  word-break: break-all; 
}
